@charset "utf-8";


.main-text > .wrap{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rolling ul{
    list-style: none;
}
.main-text li{
    position: absolute;
    top: -36px;
    left: 0;
}
.main-text li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.main-text li.current{
    top: 0;
    transition: top 0.5s ease;
}
.main-text li.next{
    top: -36px;
}
.main-text h2{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}

